body{
    font-family: 'Work Sans', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
h2{
    color: dimgray;
    text-align: center;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 45%;
    margin-left: 3%;
    padding-left: 2%;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight:500 ;
    padding: 2% 5%;
    border-radius: 200px;
}
.half-width img{
    width: 70%;
   padding:5%;
}
.recipie-area{
    text-align: center;
}
.recipie-list{
    width: 30%;
    box-shadow: 5px 5px 40px grey;
    margin: 2%;
    padding: 2%;
    border-radius: 25px;
}
.recipie-img img{
    width: 100%;
}
footer{
    background-color:grey ;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
}

